name: DockerHub Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/README.md'

env:
  AWS_REGION: ${{ secrets.AWS_REGION }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  DOCKERHUB_REPOSITORY: text-generation-inference
  DOCKERHUB_ORGANIZATION: togethercomputer
  DOCKERFILE: Dockerfile

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build and push intermediate image
    runs-on:
      labels: ubuntu-22.04-4core
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ env.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ env.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Login to DockerHub
        id: login-dockerhub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Create and push git version tag
        id: build-image
        run: |
          export HOME=$(pwd)
          git fetch --tags --unshallow --prune
          curl -sL https://git.io/autotag-install | sh --
          TAG_NAME=v$(bin/autotag -b main -p main -T datetime)
          echo $TAG_NAME
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
          echo "${{ env.TAG_NAME }}"
          git config --global user.name 'Together Robot'
          git push --tags

      - name: build and push to dockerhub
        uses: docker/build-push-action@v4
        with:
          file: ${{ env.DOCKERFILE }}
          push: true
          tags: |
            ${{ env.DOCKERHUB_ORGANIZATION }}/${{ env.DOCKERHUB_REPOSITORY}}:${{ env.TAG_NAME}}
            ${{ env.DOCKERHUB_ORGANIZATION }}/${{ env.DOCKERHUB_REPOSITORY}}:latest
          cache-from: type=registry,ref=${{ env.DOCKERHUB_ORGANIZATION }}/${{ env.DOCKERHUB_REPOSITORY}}:cache
          cache-to: type=registry,ref=${{ env.DOCKERHUB_ORGANIZATION }}/${{ env.DOCKERHUB_REPOSITORY}}:cache,mode=max
